/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Laila:wght@300;400;500;600;700&display=swap');

h1 {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	font-size: 2em;
}

h3 {
	font-family: "Laila", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

p, a, abbr, ul{
	font-family: "Laila", serif;
	font-weight: 300;
	font-style: normal;
	margin-bottom: 0.5rem;
	line-height: 150%;
}

a {
	color: unset;
}