@use "scss/reset";
@use "scss/fonts";
@use "scss/svgs";
@use "sass:map";
@use "sass:string";

:root {
	--sky-blue: #7297c6;
	--carpet-red: #c05946;
	--off-white: #faedcb;
	--off-black: #1e241f;
	--content-p-left: 2rem;
	--sidebar-width: 100px;
	--b-nav-height: 100px;
}

body {
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(233, 228, 205, 0.5) 0%,
			rgba(250, 237, 203, 0.5) 25%,
			rgba(221, 215, 200, 0.5) 48.5%,
			rgba(221, 215, 200, 0) 100%
		),
		var(--sky-blue);
	overflow-x: hidden;
	width: 100vw;
}

html {
	width: 100vw;
	scroll-snap-type: y mandatory;
}

.intro,
.explanation,
.participation,
.benefits,
.requirements {
	min-height: calc(100vh - var(--b-nav-height));
}

.intro,
.explanation,
.participation,
.benefits,
.requirements,
.design-selection {
	scroll-snap-align: start;
}

.intro,
.explanation,
.participation,
.benefits,
.requirements,
.design-selection,
.design-archives {
	padding-left: var(--content-p-left);
	padding-right: var(--sidebar-width);
}

.intro,
.explanation,
.participation,
.benefits,
.requirements,
.design-selection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

/* Intro */
.intro,
.participation,
.requirements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(map.get(svgs.$graphics, "top-clouds"));
	background-size: 100vw auto;
	background-repeat: no-repeat;
	color: var(--off-black);
}

.intro {
	h1 {
		color: var(--off-white);
		margin-bottom: 1rem;
		font-size: 2.5em;
	}

	[role="banner"] {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		max-width: 470px;
		h2 {
			font-size: 0;
			background-image: url(map.get(svgs.$graphics, "intro-banner"));
			background-repeat: no-repeat;
			background-size: clamp(0px, calc(95vw - var(--sidebar-width)), 470px) auto;
			height: 15vw;
			width: calc(95vw - var(--sidebar-width));
			max-width: 470px;
			max-height: 84px;
			abbr {
				font-size: 0;
			}
		}
	}

	.summary {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin-bottom: 3rem;
		p:first-of-type {
			display: none;
		}
		p:nth-of-type(2) {
			font-size: 1rem;
			width: max-content;
			font-family: "Dancing Script", cursive;
			font-optical-sizing: auto;
			font-weight: 400;
			font-style: normal;
			color: var(--off-white);
		}
	}
}

.explanation,
.benefits,
.design-selection {
	background-color: var(--carpet-red);
	color: var(--off-white);
	position: relative;
}

:is(.explanation, .benefits, .design-selection)::before {
	content: "";
	display: inline-block;
	height: 40vw;
	width: calc(100vw + 1.5rem);
	position: absolute;
	background-image: url(map.get(svgs.$graphics, "frame-divider"));
	background-repeat: no-repeat;
	background-size: 110vw auto;
	top: -18vw;
	left: -1.5rem;
}

:is(.explanation, .benefits, .design-selection)::after {
	content: "";
	display: inline-block;
	height: 40vw;
	width: calc(100vw + 1.5rem);
	position: absolute;
	background-image: url(map.get(svgs.$graphics, "top-clouds"));
	transform: rotate(180deg);
	background-repeat: no-repeat;
	background-size: 110vw auto;
	bottom: 0;
	left: -1.5rem;
}

.requirements {
	padding-top: 10rem;
	padding-bottom: 8rem;
}

.design-selection {
	height: calc(100vh - 100px);
	display: flex;
	align-items: center;
	h3 {
		font-size: 0;
		background-image: url(map.get(svgs.$graphics, "design-banner"));
		background-repeat: no-repeat;
		background-size: clamp(0px, calc(95vw - var(--sidebar-width)), 470px) auto;
		height: 16vw;
		width: calc(95vw - var(--sidebar-width));
		margin-bottom: 2rem;
		max-width: 470px;
		max-height: 120px;
	}
	ul {
		display: flex;
		flex-flow: column nowrap;
		gap: 1rem;
	}

	li::after {
		content: ">";
		color: var(--off-white);
	}
	li:hover {
		text-decoration: underline;
	}

	.design-name,
	.designer-name {
		text-decoration: none;
	}
	.design-name {
		font-weight: 700;
	}
	.designer-name {
		font-weight: 500;
	}
}

.design-archives {
	position: relative;
	top: -20vh;
	color: var(--off-black);
	h3 {
		font-size: 0;
	}
	ul {
		display: flex;
		flex-flow: row-reverse nowrap;
		justify-content: space-around;
	}
	li {
		background-color: (var(--off-white));
		padding: 0.5rem;
		border-radius: 8px;
	}
	a {
		text-decoration: none;
	}
}

/* Navbars */
.zen-resources a,
footer > a {
	display: block;
	font-size: 0px;
	width: 100%;
	height: 100%;
}

.zen-resources li,
footer a {
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: 75px auto;
}

/* Bottom Nav -> Resources */
.zen-resources {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: var(--off-white);
	border-radius: 16px 16px 0 0;
	overflow: hidden;
	box-sizing: border-box;
	height: var(--b-nav-height);

	h3 {
		display: none;
		font-size: 0px;
	}
	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		height: var(--b-nav-height);
		width: 100vw;
	}
	abbr {
		font-size: 0;
	}
	li {
		border-left: #fcf7ed 2px solid;
		background-position: top;
		height: var(--b-nav-height);
	}
	li:first-of-type {
		border-left: none;
	}
	.view-css {
		background-image: url(map.get(svgs.$graphics, "css-file-duotone"));
	}
	.css-resources {
		background-image: url(map.get(svgs.$graphics, "css-guide-duotone"));
	}
	.zen-faq {
		background-image: url(map.get(svgs.$graphics, "paper-plane-duotone"));
	}
	.zen-submit {
		background-image: url(map.get(svgs.$graphics, "question-duotone"));
	}
	.zen-translations {
		background-image: url(map.get(svgs.$graphics, "translate-duotone"));
	}
}

/* Side Nav */
footer {
	position: fixed;
	right: 0;
	bottom: var(--b-nav-height);
	display: flex;
	flex-flow: column nowrap;
	height: 80vh;
	justify-content: space-between;
	z-index: 10;

	a {
		background-position: right;
		width: var(--sidebar-width);
		abbr {
			font-size: 0;
		}
	}
	.zen-validate-html {
		background-image: url(map.get(svgs.$graphics, "html-verify-duotone"));
	}
	.zen-validate-css {
		background-image: url(map.get(svgs.$graphics, "css-verify-duotone"));
	}
	.zen-license {
		background-image: url(map.get(svgs.$graphics, "license-duotone"));
	}
	.zen-accessibility {
		background-image: url(map.get(svgs.$graphics, "accessibility-duotone"));
	}
	.zen-github {
		background-image: url(map.get(svgs.$graphics, "github-duotone"));
	}
}

@media screen and (width < 400px) {
	.intro {
		h1 {
			font-size: 1.75rem;
		}

		.summary {
			p:nth-of-type(2) {
				width: unset;
				font-size: 0.9rem;
			}
		}
	}
}

@media screen and (width > 600px) {
	a, p, li, abbr {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.75em;
		width: 600px;
	}
	
	.preamble,
	:is(.explanation, .participation, .benefits, .requirements) > :is(h3, p) {
		max-width: 600px;
	}

	.intro,
	.explanation,
	.participation,
	.benefits,
	.requirements,
	.design-selection {
		align-items: center;
	}

	[role="banner"] > h1{
		font-size: 4rem;
	}

	.requirements {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	
}

@media screen and (height < 700px) {
	a,
	p {
		font-size: 0.8rem;
	}

	.intro .summary {
		margin-bottom: 1rem;
	}

	.participation {
		padding-top: 7vh;
		padding-bottom: 7vh;
	}

	.design-selection {
		h3 {
			margin-bottom: 1rem;
		}

		ul {
			gap: 0.25rem;
		}
	}

	.design-archives {
		top: -9rem;
	}
}
