@import "scss/reset";
@import "scss/fonts";

.intro, .explanation, .participation, .benefits, .requirements {
	height: 100vh;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

[role="banner"] {
    h2 {
        font-size: 0;
    }
	
}

.summary > p:first-of-type {
	display: none;
}

/* Resources */
.zen-resources{
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #faedcb;
	border-radius: 16px 16px 0 0;

	h3 { display: none;}
	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		height: 100px;
		width: 100vw;
	}
	li {
		flex-grow: 1;
		background-repeat: no-repeat;
		background-size: 50px;
		background-position: center;
		border-left: #fcf7ed 2px solid;
	}
	li:last-of-type(){
		border-left: unset;
	}
	a {
		display: block;
		font-size: 0px;
		width: 100%;
		height: 100%;
	}
	.view-css {
		background-image: url(./svg/css-file-duotone-icon.svg);
	}
	.css-resources {
		background-image: url(./svg/css-guide-duotone-icon.svg);
	}
	.zen-faq {
		background-image: url(./svg/question-duotone-icon.svg);
	}
	.zen-submit {
		background-image: url(./svg/paper-plane-tilt-duotone-icon.svg);
	}
	.zen-translations {
		background-image: url(./svg/translate-duotone-icon.svg);
	}
}